/* debug css */
:root {
  --color1: #f17b0d;
  --color2: #b58c67;
  --color2a: rgba(181, 139, 103, 0.8);
  --color3: #102c2a;
}

body {
  padding: 0;
  margin: 0;
}
body .main-nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  /* height: 2.5em; */
  color: white;
}
body .main-nav .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  padding-top: 1.1rem;
  background-color: black;
  /* height: 5rem; */
}
body .main-nav .nav-top .left {
  display: flex;
}
body .main-nav .nav-top .left .nav-contact {
  display: flex;
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin-right: 1.5rem;
  font-family: "Jost";
  /* padding-bottom: 5px; */
}
body .main-nav .nav-top .left .nav-contact .icon {
  margin-right: 0.3rem;
}
body .main-nav .nav-bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7.5rem;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}
body .main-nav .nav-bottom .left .website-logo {
  width: 11rem;
}
body .main-nav .nav-bottom .center {
  display: flex;
}
body .main-nav .nav-bottom .center .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: "Jost";
  margin: 0 1.6rem;
}
body .main-nav .nav-bottom .center .nav-link::before {
  content: "";
  position: absolute;
  background-color: #b58c67;
  width: 0;
  height: 1px;
  left: 0;
  bottom: 5px;
  transition: all 200ms ease-in;
}
body .main-nav .nav-bottom .center .nav-link:hover::before {
  width: 100%;
}
body .main-nav .nav-bottom .center .nav-link:active::before {
  width: 100%;
}
body .header {
  z-index: 0;
  position: relative;
  overflow: hidden;
}
body .header .img-header {
  height: 100vh;
}
body .header .header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .header .header-content h1 {
  font-family: "Cormorant";
  width: 40rem;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 4rem;
}
body .header .header-content .header-links .header-link {
  display: inline-block;
  font-family: "Jost";
  text-decoration: none;
  color: var(--color2);
  margin: 0 1rem;
  font-size: 1.2rem;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  transform: translateY(0);
  transition: all 200ms ease-in;
}
body .header .header-content .header-links .header-link:hover {
  color: white;
  border-bottom: solid 2px white;
  transform: translateY(-5px);
}
body .latest-products-section {
  width: 100%;
  height: 10rem;
  background-color: rgba(241, 123, 13, 0.2901960784);
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}
body .latest-products-section .latest-product-card {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0 1rem;
}
body .latest-products-section .latest-product-card .img-frame {
  height: 100%;
  width: 100%;
}
body .latest-products-section .latest-product-card .img-frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .latest-products-section .latest-product-card .card-content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .latest-products-section .latest-product-card .card-content .content-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 80%;
  background-color: var(--color2a);
}
body .latest-products-section .latest-product-card .card-content .content-frame h3 {
  color: white;
}
body .latest-products-section .latest-product-card .card-content .content-frame input {
  color: white;
  background-color: var(--color3);
}
body .latest-products-section .latest-product-card:hover .card-content {
  opacity: 1;
}

.design-img {
  /* z-index: -1; */
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.btn {
  border-radius: 0;
  background-color: var(--color1);
  font-size: 13px;
  font-weight: 600;
  padding: 0.5rem 0.7rem;
  color: white;
  border: none;
  /* transition: all 150ms ease-in ; */
  /* transition: all 150ms ease-out ; */
  transition: all 200ms cubic-bezier(0.45, 0.9, 0.62, -0.03);
  /* margin-top: .2rem; */
}
.btn:hover {
  background-color: var(--color2);
  cursor: pointer;
  /* box-shadow: ; */
}

.book-btn {
  background: none;
  border: solid 2px var(--color2);
  width: 11rem;
  height: 3rem;
}/*# sourceMappingURL=main.css.map */